@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --color1: #251F47;
    --color2: #404E7C;
    --color3: #71B48D;
    --color4: #86CB92;
    --white: #ffff;
    --black: #000000;
}

*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
}

.body{
    background-color: var(--white);
    width: 100rem;
    height: 100vmax;
    margin: 0 auto;
}

/* Navbar Kısmı */

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--color2);
}

.logo {
    margin-left: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
}

.search-form {
    position: relative;
}

.search-form input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 500px;
    font-size: 16px;
}

.search-form button {
    font-size: 1.1rem;
    padding: 10px;
    border: none;
    background-color: var(--color1);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.5s;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.icons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    color: var(--white);
}

/* Navbar Kısmı Bitiş*/

/* Banner Kısmı */

.banner{
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 100%;
    height: 56.3rem;
}

.bannerWrite{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bannerWrite>h1{
    color: var(--color3);
    margin-bottom: 1rem;
    font-size: 7rem;
    text-shadow: 10px 8px 2px black;
}

.bannerWrite>h4{
    color: gray;
    margin-bottom: 1rem;
    font-size: 2rem;
}


.bannerWrite>h5{
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.bannerBtn{
    transform: translateY(-50%);
    text-align: center;
}

.BannerFirst-btn {
    width: 250px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--color3);
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .BannerSecond-btn {
    width: 250px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--color3);
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .cover {
    background: var(--color4);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  
  .BannerFirst-btn:hover span, .BannerSecond-btn:hover span {
    width: 100%;
  }
  
  .BannerFirst-btn:hover, .BannerSecond-btn:hover {
    border: none;
  }
  

/* Banner Kısmı Bitiş*/

/* Partner Kısmı */

.homePartner{
    background-color: var(--color3);
    padding: 3rem 0rem;
    margin-bottom: 6rem;
}

.homePartner>h2{
    text-align: center;
    margin-bottom: 1.5rem;
}

.partnerLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Partner Kısmı Bitiş*/

/* Eğitimler Kısmı*/

.slider {
    background-color: var(--color3);
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .slider-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .slider-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .slider-container::-webkit-scrollbar {
    display: none;
  }
  
  .slider-card {
    flex: 0 0 auto;
    width: 300px;
    height: 450px;
    margin-right: 40px;
  }
  
  .slider-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .slider-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .slider-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .slider-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .slider-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
  

/* Eğitimler Kısmı Bitiş */

/* whyus Kısmı */

.whyus{
    background-image: url("whyus.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: end;
}

.whyText{
    margin-right: 6rem;
    text-align: center;
    width: 70%;
    height: 100%;
}

.whyText>h2{
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.whyText>p{
    color: gray;
    font-size: 1rem;
    font-style: italic;
}

/* whyus Kısmı Bitiş*/

/* community baslangic */

.community{
    text-align: center;
    background-color: var(--color3);
    height: 50rem;
}

.communityHeader>h2{
    font-size: 5em;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.communityHeader>p{
    font-size: 2rem;
    margin-bottom: 3rem;
}

.communityCommit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.com{
    background-color: var(--white);
    border: gainsboro 2px solid;
    border-radius: 5%;
    width: 20%;
    height: 32rem;
}

.com>img{
    margin:1.5rem 0 1.5rem 0rem;
    width: 50%;
}

.com>h3{
    color: var(--color3);
    font-size: 1.8rem;
}

.com>h5{
    color: var(--color2);
    font-size: 1rem;
}

.com>h6{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color2);
    width: 30%;
    height: 0.2rem;
}
    

.com>p{
    margin: 1rem;
    color: gray;
}

/* community bitiş */

/* outcomes */

.outcomes{
    margin-top: 8rem;
    background-image: url("outcomes.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: end;
}

.outcomesWrite{
    margin-right: 6rem;
    text-align: center;
    width: 65%;
    height: 100%;
}

.outcomesWrite>h2{
    font-size: 4rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.outcomesWrite>p{
    color: gray;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 4rem;
}

.outcomesWrite>a{
    color: var(--white);
    background-color: var(--color3);
    padding: 1.5rem;
}

.outcomesWrite>a:hover{
    background-color: var(--color4);
}

/* outcomes bitiş */

/* footer baslangic */

.footer{
    bottom: 0; right: 0; left: 0;
    background-color: var(--color1);
    padding: 2rem;
    text-align: center;
    color: var(--white);
    font-size: 1rem;
    margin-top: 2rem;
}

.footer span{
    color: red;
}

/* Footer Bitiş*/

/*            COURSES.HTML                */

.coursesBody{
    display: flex;
    flex-direction: row;
}
.course_filter{
    margin-top: 4rem;
    width: 20rem;
    height: 50rem;
    box-shadow: 1px 1px 5px 1px gainsboro;
}

.courses_cours{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.course_search{
    height: 20%;
    max-height: 13rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 1px 1px 5px 1px gainsboro;
}

.course_search:hover{
    box-shadow: 4px 4px 20px 4px gainsboro;
}

.course_search .course_search_img img{
    padding: 1rem;
    height: 100%;
}

.course_search .courses_course_section2{
    margin-right: 2rem;
    height: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    
}

.course_search .course_search_price h2{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
